html{
    background: palegoldenrod;
}
#display{
    margin-left:5%;
}
svg{
    background: #f0f0f0;
    color:#666666;
}
article{
    white-space: pre-wrap;
}

/* Graph display*/
rect{
    fill:gray;
}
.能學以致用的工作{
    fill:darkcyan;
}
.能學習到知識技能{
    fill:darkgreen;
}
.工作穩定性{
    fill:darkgoldenrod;
}
.有發展前景{
    fill:darkmagenta;
}
.待遇高{
    fill:darksalmon;
}
.通勤方便{
    fill:darkred;
}
